{% extends "./base/index.html" %}
{% block body %}
<center> 
<body>
    <h1 class = "textdanger">login to phonebook</h1>
    <form action="" method="POST">
        <form method="POST">
            {% csrf_token %}
            {% for field in form %}
            <p>
                {{ field.label_tag }}<br>
                {{ field }}
                {% for error in field.errors %}
                <p style="color: red">{{ error | safe }}</p>
                {% endfor %}
            </p>
            {% endfor %}
            <button type="submit" class="btn btn-dark">Login</button>
            <br>
            {% if help_text %}
            <small style="color: red">Username or password is wrong!</small>
            {% endif %}
    </form>
    <br>
    <a href="/signup"><button type="submit" class="btn btn-danger">Signup</button></a>
</body>
<center> 
{% endblock %}