<center> 
<h1>phone book</h1>
<a href="/add">for add contact press me</a>
<br/><br/><br/>

<form action="{% url 'search_results' %}" method="get">
  <input name="q" type="text" placeholder="Search...">
  <input type="submit" value="search">
</form>
<table border="1">
{% for phonenum in phonenums %}
<tr>
<td>{{phonenum.name}}</td>
<td>{{phonenum.phone_num}}</td>
<td><a href="delete/{{ phonenum.id }}">delete</a>
<td><a href="update/{{ phonenum.id }}">edit</a></td>
</tr>
{% endfor %}
</table>
<center> 